<!doctype html>
<html>
  <head>
    <title>Signature Homes - Magnolia Grove Selection</title>
    <link rel="stylesheet" type="text/css" href="css/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/selection_guide.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="js/selection_guide.js"></script>
    <script>
      $(function() {
        $( "#accordion" ).accordion({
          heightStyle: "content",
          activate: function(event, ui){}
        }).on("accordionactivate", function(event, ui){
          $('html, body').animate({
            scrollTop: ui.newHeader.offset().top
          }, 300);
        })
      });
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div="header">
        <div id="logo">
          <img src="images/signature_logo_whiteBG.jpg" />
        </div>
        <div id="internal_title">
          Magnolia Grove Design Selections
        </div>
      </div>

      <!-- Begin Selection Guide -->
      <form action="/send_specs", method="post">
        <div id="input_area">
          <div id="label">Customer Name:</div>
          <div id="text_input">
            <input type="text" size="40" name="customer_name">
          </div>
          <div id="clear"></div>
          <div id="label">Project:</div>
          <div id="text_only">
            1630 - The Grove
          </div>
          <div id="clear"></div>
          <div id="label">Lot:</div>
          <div id="text_input">
            <input type="text" size="30" name="lot">
          </div>
          <div id="clear"></div>
          <div id="label">Model:</div>
          <div id="text_input">
            <input type="text" size="30" name="model">
          </div>
          <div id="clear"></div>
          <div id="label">Elevation:</div>
          <div id="text_input">
            <input type="text" size="30" name="elevation">
          </div>
        </div>

        <hr />

        <div id="accordion">
          <h1>Exterior Options</h1>
          <div id="panel">
            <div id="section_title">
              Brick Options
            </div>
            <div id="section_options">
              <select name="brick">
                <option value="">Select Option</option>
                <option value="ADENBLEND-Aden_Blend">Aden Blend - Each - $0.00</option>
                <option value="BLACKSBURG-Blacksburg">Blacksburg - Each - $0.00</option>
                <option value="BROMPTON-Brompton">Brompton - Each - $0.00</options>
                <option value="BROOKSTONE-Brookstone">Brookstone - Each - $0.00</option>
                <option value="BROWNSFERRY-Brownsferry">Brownsferry - Each - $0.00</option>
                <option value="CYPRESSPOINT-Cypress_Point">Cypress Point - Each - $0.00</option>
                <option value="INVERNESS-Inverness">Inverness - Each - $0.00</option>
                <option value="MOUNTAINBRK-Mountain_Brook">Mountain Brook - Each - $0.00</option>
                <option value="PAINTBRICK-Painted_(See_paint_plan_for_color)">Painted (See paint plan for color) - Each - $0.00</option>
                <option value="PAINTBRICKBA-Painted_for_basements_(See_paint_plan_for_color)">Painted for basements (See paint plan for color) - Each - $0.00</option>
                <option value="PAINTBRICK2-Painted_with_Exposed_Headers_(See_paint_plan_for_color)">Painted with Exposed Headers (See paint plan for color) - Each - $0.00</option>
                <option value="PAINTBRICKB2-Painted_with_Exposed_Headers_for_Basements_(See_paint_plan_for_color)">Painted with Exposed Headers for Basements (See paint plan for color) - Each - $0.00</option>
                <option value="SANJOSE-San_Jose">San Jose - Each - $0.00</option>
                <option value="SOUTHWICK-Southwick">Southwick - Each - $0.00</option>
                <option value="STCHARLES-St._Charles">St. Charles - Each - $0.00</option>
                <option value="WEATHERWOOD-Weatherwood">Weatherwood - Each - $0.00</option>
              </select>
              <input type="hidden" name="brick_uom" value="Each">
            </div>

            <div id="clear"></div>

            <div id="section_title">
              Stone Options
            </div>
            <div id="section_options">
              <select name="stone">
                <option value="">Select Option</option>
                <option value="STONEASHBR-Ashlar_Brown">Ashlar Brown - Each - $0.00</option>
                <option value="STONECUTMOSS-Cut_Moss/Fieldstone">Cut Moss/Fieldstone - Each - $0.00</option>
                <option value="STONECOBBLEG-Tumbled_Cobblestone">Tumbled Cobblestone - Each - $0.00</option>
              </select>
              <input type="hidden" name="stone_uom" value="Each">
            </div>

            <div id="clear"></div>

            <div id="section_title">
              Mortar Options
            </div>
            <div id="section_options">
              <select name="mortar">
                <option value="">Select Option</option>
                <option value="LIGHTBUFF-Light_Buff">Light Buff - Each - $0.00</option>
                <option value="LIGHTGRAY-Light_Gray">Light Gray - Each - $0.00</option>
                <option value="PAINTEDMORTA-Painted_(See_paint_plan_for_color)">Painted (See paint plan for color) - Each - $0.00</option>
                <option value="SAHARA-Sahara">Sahara - Each - $0.00</option>
                <option value="SIGIVORYMORT-Signature_Ivory">Signature Ivory - Each - $0.00</option>
                <option value="JOINTCONCAVE-Joint_Concave">Joint - Concave - Each - $0.00</option>
                <option value="JOINTFLUSH-Joint_Flush">Joint - Flush - Each - $0.00</option>
                <option value="JoINT GRAPE-Joint_Grapevine">Joint - Grapevine - Each - $0.00</option>
              </select>
              <input type="hidden" name="mortar_uom" value="Each">
            </div>

            <div id="clear"></div>

            <div id="section_title">
              Window Options
            </div>
            <div id="section_options">
              <select name="window">
                <option value="">Select Option</option>
                <option value="WINDCLADBLK-Clad/Black">Clad/Black - Each - $0.00</option>
                <option value="WINDCLADBRZ-Clad/Bronze">Clad/Bronze - Each - $0.00</option>
                <option value="WINDCLADCINN-Clad/Cinnamon">Clad/Cinnamon - Each - $0.00</option>
                <option value="WINDCLADIVOR-Clad/Ivory">Clad/Ivory - Each - $0.00</option>
                <option value="WINDCLADTAN-Clad/Tan">Clad/Tan - Each - $0.00</option>
                <option value="WINDCLADWH-Clad/White">Clad/White - Each - $0.00</option>
                <option value="WINDVINYLAL-Vinyl/Almond">Vinyl/Almond - Each - $0.00</option>
                <option value="WINDVINYLCL-Vinyl/Clay">Vinyl/Clay - Each - $0.00</option>
                <option value="WINDVINYLWH-Vinyl/White">Vinyl/White - Each - $0.00</option>
              </select>
              <input type="hidden" name="window_uom" value="Each">
            </div>

            <div id="clear"></div>

            <div id="section_title">
              Gutter Options
            </div>
            <div id="section_options">
              <select name="gutter">
                <option value="">Select Option</option>
                <option value="GUTTERS30WH-30_White">30 White - Each - $0.00</option>
                <option value="GUTTERSBLK-Black">Black - Each - $0.00</option>
                <option value="GUTTERSBRZ-Bronze">Bronze - Each - $0.00</option>
                <option value="GUTTERSCL-Clay">Clay - Each - $0.00</option>
                <option value="GUTTERLINEN-Linen">Linen - Each - $0.00</option>
                <option value="GUTTERSMUSKB-Musket_Brown">Musket Brown - Each - $0.00</option>
                <option value="GUTTERSTERRA-Terratone">Terratone - Each - $0.00</option>
                <option value="GUTTERSWICKW-Wicker_White">Wicker White - Each - $0.00</option>
              </select>
              <input type="hidden" name="gutter_uom" value="Each">
            </div>

            <div id="clear"></div>

            <div id="section_title">
              Shingle Options
            </div>
            <div id="section_options">
              <select name="shingle">
                <option value="">Select Option</option>
                <option value="SHINGLESMBLK-Moire_Black">Moire Black - Each - $0.00</option>
                <option value="SHINGLESWEAT-Weatherwood">Weatherwood - Each - $0.00</option>
              </select>
              <input type="hidden" name="shingle_uom" value="Each">
            </div>

            <div id="clear"></div>

            <div id="section_title">
              Patio and Porch Options
            </div>

            <div id="clear"></div>

            <div id="subsection_title">
              Concrete Finish
            </div>
            <div id="section_options">
              <select name="patio_concrete_color">
                <option value="">Select Option</option>
                <option value="CONCFINISH-Stained_Black_Fox">Stained Black Fox - Each - $0.00</option>
                <option value="CONCFINISH-Stained_Foothills">Stained Foothills - Each - $0.00</option>
                <option value="CONCFINISH-Stained_Porpoise">Stained Porpoise - Each - $0.00</option>
                <option value="CONCFINISH-Stained_Smokehouse">Stained Smokehouse - Each - $0.00</option>
              </select>
              <input type="hidden" name="patio_concrete_color_uom" value="Each">
            </div>

            <div id="clear"></div>

            <div id="note">
              Select finish only if brick pavers were selected at plan review:
            </div>

            <div id="subsection_title">
              Brick Paver Color
            </div>
            <div id="section_options">
              <select name="brick_paver_color">
                <option value="">Select Option</option>
                <option value="BRICKPAVERFI-Academy_Gray_Basketweave">Academy Gray - Basketweave - Each - $0.00</option>
                <option value="BRICKPAVERFI-Academy_Gray_Herringbone">Academy Gray - Herringbone - Each - $0.00</option>
                <option value="BRICKPAVERFI-Gunstock_Basketweave">Gunstock - Basketweave - Each - $0.00</option>
                <option value="BRICKPAVERFI-Gunstock_Herringbone">Gunstock - Herringbone - Each - $0.00</option>
                <option value="BRICKPAVERFI-Magnum_Flush_Basketweave">Magnum Flush - Basketweave - Each - $0.00</option>
                <option value="BRICKPAVERFI-Magnum_Flush_Herringbone">Magnum Flush - Herringbone - Each - $0.00</option>
              </select>
              <input type="hidden" name="brick_paver_color_uom" value="Each">
            </div>

            <div id="clear"></div>

            <div id="subsection_title">
              Brick Paver Mortar
            </div>
            <div id="section_options">
              <select name="brick_paver_mortar">
                <option value="">Select Option</option>
                <option value="BRICKPAVERFI-Buff">Buff - Each - $0.00</option>
                <option value="BRICKPAVERFI-Dark_Gray">Dark Gray - Each - $0.00</option>
                <option value="BRICKPAVERFI-Frosty">Frosty - Each - $0.00</option>
                <option value="BRICKPAVERFI-Khaki">Khaki - Each - $0.00</option>
                <option value="BRICKPAVERFI-Light_Buff">Light Buff - Each - $0.00</option>
                <option value="BRICKPAVERFI-Light_Gray">Light Gray - Each - $0.00</option>
                <option value="BRICKPAVERFI-Premium_Gray">Premium Gray - Each - $0.00</option>
                <option value="BRICKPAVERFI-Sahara">Sahara - Each - $0.00</option>
                <option value="BRICKPAVERFI-Signature_Ivory">Signature Ivory - Each - $0.00</option>
              </select>
              <input type="hidden" name="brick_paver_mortar_uom" value="Each">
            </div>

            <div id="clear"></div>
          </div>

          <h1>Kitchen Options</h1>
          <div id="panel">
            <div id="kitchen_island_cabinets"></div>
            <div id="clear"></div>
            <div id="kitchen_island_cabinet_options"></div>
            <div id="clear"></div>

            <div id="kitchen_perimeter_cabinets"></div>
            <div id="clear"></div>
            <div id="kitchen_perimeter_cabinet_options"></div>
            <div id="clear"></div>

            <div id="kitchen_island_countertops"></div>
            <div id="clear"></div>
            <div id="kitchen_island_countertop_options"></div>
            <div id="clear"></div>

            <div id="kitchen_perimeter_countertops"></div>
            <div id="clear"></div>
            <div id="kitchen_perimeter_countertop_options"></div>
            <div id="clear"></div>

            <div id="kitchen_backsplash"></div>
            <div id="clear"></div>
            <div id="kitchen_backsplash_options"></div>
            <div id="clear"></div>

            <div id="kitchen_sink"></div>
            <div id="clear"></div>
            <div id="kitchen_sink_options"></div>
            <div id="clear"></div>

          <div id="section_title">
            Plumbing Options
          </div>

          <div id="clear"></div>

          <div id="subsection_title">
            Kitchen Faucet
          </div>
          <div id="section_options">
            <select name="kitchen_faucet">
              <option value="">Select Option</option>
              <option value="KOH560CP">Kohler Bellera with Pull Down Spout in Polished Chrome - Each - $0.00</option>
              <option value="KOH560VS">Kohler Bellera with Pull Down Spout in Vibrant Stainless - Each - $70.00</option>
              <option value="KOH560BZ">Kohler Bellera with Pull Down Spout in Oil Rubbed Bronze - Each - $80.00</option>
              <option value="KOH596CP">Kohler Simplice 1 Hole with Pull Down Spout in Polished Chrome - Each - $30.00</option>
              <option value="KOH596VS">Kohler Simplice 1 Hole with Pull Down Spout in Vibrant Stainless - Each - $100.00</option>
              <option value="DAN455158">Danze Parma in Chrome - Each - $220.00</option>
              <option value="DAN455158SS">Danze Parma in Stainless Steel - Each - $400.00</option>
              <option value="KOH72218CP">Kohler Sensate Touchless with Pull Down Spout in Polished Chrome - Each - $450.00</option>
              <option value="KOH72218VS">Kohler Sensate Touchless with Pull Down Spout in Vibrant Stainless - Each - $590.00</option>
              <option value="KOH61313CP">Kohler Parq Bridge Style in Polished Chrome - Each - $750.00</option>
              <option value="KOH61313VS">Kohler Parq Bridge Style in Vibrant Stainless - Each - $1120.00</option>
              <option value="KOH61313BZ">Kohler Parq Bridge Style in Oil Rubbed Bronze - Each - $1120.00</option>
            </select>
            <input type="hidden" name="kitchen_faucet_uom" value="Each">
          </div>

          <div id="clear"></div>

          <div id="subsection_title">
            Soap Dispenser
          </div>
          <div id="section_options">
            <select name="soap_dispenser">
              <option value="">Select Option</option>
              <option value="KOHSOAPCP">Kohler Chrome - Each - $90.00</option>
              <option value="KOHSOAPVS">Kohler Vibrant Stainless - Each - $90.00</option>
              <option value="KOHSOAPBZ">Kohler Oil Rubbed Bronze - Each - $90.00</option>
            </select>
            <input type="hidden" name="soap_dispenser_uom" value="Each">
          </div>

          <div id="clear"></div>
        </div>

        <h1>Master Bath Options</h1>
        <div id="panel">
          <div id="master_bath_cabinets"></div>
          <div id="clear"></div>
          <div id="master_bath_cabinet_options"></div>
          <div id="clear"></div>

          <div id="master_bath_tub_skirt"></div>
          <div id="clear"></div>
          <div id="master_bath_tub_skirt_options"></div>
          <div id="clear"></div>

          <div id="note">
            Only Select finish if SPA bath option was selected at contract.
          </div>
          <div id="clear"></div>

          <div id="master_bath_spa"></div>
          <div id="clear"></div>
          <div id="master_bath_spa_options"></div>
          <div id="clear"></div>

          <div id="master_bath_tub_deck"></div>
          <div id="clear"></div>
          <div id="master_bath_tub_deck_options"></div>
          <div id="clear"></div>

          <div id="master_bath_vanity_countertops"></div>
          <div id="clear"></div>
          <div id="master_bath_vanity_countertop_options"></div>
          <div id="clear"></div>

          <div id="section_title">
            Master Sink
          </div>
          <div id="section_options">
            <select name="master_sink">
              <option value="">Select Option</option>
              <option value="UNDERMOUNTMA-Undermount-Porcelain_(both_bowls)">Undermount Porcelain (both bowls) - Pair - $0.00</option>
              <option value="SINKMEMCLMB-Kohler_Memoir_Classic_Drop_in_(both_bowls)">Kohler Memoir Classic Drop-in (both_bowls) - Pair - $530.00</option>
              <option value="SINKDEMIMB-Kohler_DemiLav_Drop_in_(both_bowls)">Kohler DemiLav Drop-in (both bowls) - Pair - $1040.00</option>
            </select>
          </div>

          <div id="clear"></div>

          <div id="section_title">
            Faucets & Hardware
          </div>
          <div id="section_options">
            <select name="master_faucets">
              <option value="">Select Option</option>
              <option value="KOHDEVCPMB-Kohler_Devonshire_Chrome">Kohler Devonshire Chrome - Each - $0.00</option>
              <option value="KOHDEVBNMB-Kohler_Devonshire_Brushed_Nickel">Kohler Devonshire Brushed Nickel - Each - $450.00</option>
              <option value="KOHDEVBZMB-Kohler_Devonshire_Oil_Rubbed_Bronze">Kohler Devonshire Oil Rubbed Bronze - Each - $550.00</option>
              <option value="KOHALTCPMB-Kohler_Alteo_Chrome">Kohler Alteo Chrome - Each - $0.00</option>
              <option value="KOHALTBNMB-Kohler_Alteo_Brushed_Nickel">Kohler Alteo Brushed Nickel - Each - $450.00</option>
              <option value="KOHALTBZMB-Kohler_Alteo_Oil_Rubbed_Bronze">Kohler Alteo Oil Rubbed Bronze - Each - $650.00</option>
              <option value="KOHMARCPMB-Kohler_Margaux_Chrome">Kohler Margaux Chrome - Each - $1450.00</option>
              <option value="KOHMARBNMB-Kohler_Margaux_Brushed_Nickel">Kohler Margaux Brushed Nickel - Each - $2450.00</option>
            </select>
          </div>

          <div id="clear"></div>

          <div id="section_title">
            Spa Tub Finish
          </div>
          <div id="section_options">
            <select name="spa_tub_finish">
              <option value="">Select Option</option>
              <option value="KOHTUBSPABN-Change_from_Chrome_to_Brushed_Nickel">Change from Chrome to Brushed Nickel - Each - $170.00</option>
              <option value="KOHTUBSPABZ-Change_from_Chrome_to_Oil_Rubbed_Bronze">Change from Chrome to Oil Rubbed Bronze - Each - $170.00</option>
            </select>
          </div>

          <div id="clear"></div>

          <div id="section_title">
            Spa Shower Finish
          </div>
          <div id="section_options">
            <select name="spa_shower_finish">
              <option value="">Select Option</option>
              <option value="KOHSHOSPABN-Change_from_Chrome_to_Brushed_Nickel">Change from Chrome to Brushed Nickel - Each - $260.00</option>
              <option value="KOHSHOSPABZ-Change_from_Chrome_to_Oil_Rubbed_Bronze">Change from Chrome to Oil Rubbed Bronze - Each - $260.00</option>
            </select>
          </div>

          <div id="clear"></div>

          <div id="section_title">
            Luxury Shower Finish
          </div>
          <div id="section_options">
            <select name="luxury_shower_finish">
              <option value="">Select Option</option>
              <option value="KOHSHOLUXBN-Change_from_Chrome_to_Brushed_Nickel">Change from Chrome to Brushed Nickel - Each - $360.00</option>
              <option value="KOHSHOLUXBZ-Change_from_Chrome_to_Oil_Rubbed_Bronze">Change from Chrome to Oil Rubbed Bronze - Each - $360.00</option>
            </select>
          </div>

          <div id="clear"></div>

          <div id="section_title">
            Showerhead
          </div>
          <div id="section_options">
            <select name="showerhead">
              <option value="">Select Option</option>
              <option value="KOHMOXCPMB-Moxie_Single_Function_Showerhead_Chrome">Moxie Single-Function Showerhead in Chrome - Each - $170.00</option>
              <option value="KOHMOXBNMB-Moxie_Single_Function_Showerhead_Brushed_Nickel">Moxie Single-Function Showerhead in Brushed Nickel - Each - $390.00</option>
              <option value="KOHMOXBZMB-Moxie_Single_Function_Showerhead_Oil_Rubbed_Bronze">Moxie Single-Function Showerhead in Oil Rubbed Bronze - Each - $380.00</option>
              <option value="KOHHANDCPMB-FlipSide_Multi_Function_Handshower_Chrome">FlipSide Multi_Function Handshower in Chrome - Each - $260.00</option>
              <option value="KOHHANDBNMB-FlipSide_Multi_Function_Handshower_Brushed_Nickel">FlipSide Multi_Function Handshower in Brushed Nickel - Each - $450.00</option>
              <option value="KOHHANDBZMB-FlipSide_Multi_Function_Handshower_Oil_Rubbed_Bronze">FlipSide Multi_Function Handshower in Oil Rubbed Bronze - Each - $460.00</option>
            </select>
          </div>

          <div id="clear"></div>

          <div id="master_bath_mirror"></div>
          <div id="clear"></div>
          <div id="master_bath_mirror_options"></div>
          <div id="clear"></div>

          <div id="section_title">
            Tiled Shower Bench
          </div>
          <div id="section_options">
            <select name="tiled_shower_bench">
              <option value="">Select Option</option>
              <option value="TILESHBENCH-Tiled-Shower-Bench">Add a Tiled Shower Bench - Each - $375.00</option>
            </select>
          </div>

          <div id="clear"></div>

          <div id="master_shower_floor_tile"></div>
          <div id="clear"></div>
          <div id="master_shower_floor_tile_options"></div>
          <div id="clear"></div>

          <div id="master_shower_wall_tile"></div>
          <div id="clear"></div>
          <div id="master_shower_wall_tile_options"></div>
          <div id="clear"></div>

        </div>

        <h1>Powder Room Options</h1>
        <div id="panel">

          <div id="section_title">
            Vanity-Pedestal
          </div>
          <div id="section_options">
            <select name="powder-pedestal">
              <option value="">Select Option</option>
              <option value="PLMEMPKG-Kohler_Pedestal_&_Commode_Package">Kohler Pedestal & Commode Package - Each - $450.00</option>
            </select>
          </div>

          <div id="clear"></div>

          <div id="section_title">
            Hardware
          </div>
          <div id="section_options">
            <select name="powder-pedestal">
              <option value="">Select Option</option>
              <option value="KOHDEVCPPD-Kohler_Devonshire_Chrome_with_Midtowne_Chrome_Bath_Hardware">Kohler_Devonshire Chrome with Midtowne Chrome Bath Hardware - Each - $0.00</option>
              <option value="KOHDEVBNPD-Kohler_Devonshire_Brushed_Nickel_with_Midtowne_Satin_Nickel_Bath_Hardware">Kohler_Devonshire Brushed Nickel with Midtowne Satin Nickel Bath Hardware - Each - $110.00</option>
              <option value="KOHDEVBZPD-Kohler_Devonshire_Oil_Rubbed_Bronze_with_Midtowne_Bronze_Bath_Hardware">Kohler_Devonshire Oil Rubbed Bronze with Midtowne Bronze Bath Hardware - Each - $130.00</option>
              <option value="KOHALTCPPD-Kohler_Alteo_Chrome_with_Midtowne_Chrome_Bath_Hardware">Kohler Alteo Chrome with Midtowne Chrome Bath Hardware - Each - $0.00</option>
              <option value="KOHALTBNPD-Kohler_Alteo_Brushed_Nickel_with_Midtowne_Satin_Nickel_Bath_Hardware">Kohler Alteo Brushed Nickel with Midtowne Satin Nickel Bath Hardware - Each - $80.00</option>
              <option value="KOHALTBZPD-Kohler_Alteo_Oil_Rubbed_Bronze_with_Midtowne_Chrome_Bath_Hardware">Kohler Alteo Chrome with Midtowne Chrome Bath Hardware - Each - $130.00</option>
              <option value="KOHMARCPPD-Kohler_Margaux_Chrome_with_Midtowne_Chrome_Bath_Hardware">Kohler Margaux Chrome with Midtowne Chrome Bath Hardware - Each - $510.00</option>
              <option value="KOHMARBNPD-Kohler_Margaux_Brushed_Nickel_with_Midtowne_Satin_Nickel_Bath_Hardware">Kohler Margaux Brushed Nickel with Midtowne Satin Nickel Bath Hardware - Each - $850.00</option>
            </select>
          </div>

          <div id="clear"></div>

          <div id="powder_mirror"></div>
          <div id="clear"></div>
          <div id="powder_mirror_options"></div>
          <div id="clear"></div>
        </div>


        <h1>Secondary Bath Options</h1>
        <div></div>


        <h1>Laundry Options</h1>
        <div id="panel">
          <div id="laundry_cabinets"></div>
          <div id="clear"></div>
          <div id="laundry_cabinet_options"></div>
          <div id="clear"></div>

          <div id="laundry_countertop"></div>
          <div id="clear"></div>
          <div id="laundry_countertop_options"></div>
          <div id="clear"></div>
        </div>

        <h1>Flooring Options</h1>
        <div id="panel">

          <div id="section_title">
            Hardwood
          </div>
          <div id="section_options">
            <select id="dropdown" name="hardwoods" onchange="show_hardwood_options(this.value);">
              <option value="">Select Option</option>
              <option value="HWHEN-Mohawk_Henley">Mohawk Henley - SqFt - $0.00</option>
              <option value="HWNOT-Shaw_Nottoway">Shaw Nottoway - SqFt - $0.00</option>
              <option value="HWHENILOCPT-Mohawk_Henley_in_Lieu_of_Carpet">Mohawk Henley in Lieu of Carpet - SqFt - $6.00</option>
              <option value="HWNOTILOCPT-Shaw_Nottoway_in_Lieu_of_Carpet">Shaw Nottoway in Lieu of Carpet - SqFt - $7.00</option>
            </select>
          </div>

          <div id="clear"></div>

          <div id="hardwoods-HWHEN" style="display: none;">
            <div id="subsection_title">
              Style/Color
            </div>
            <div id="section_options">
              <input type="checkbox" name="hardwoods-HWHEN[]" value="Mohawk Henley Hickory Amber" />Mohawk Henley Hickory Amber<br />
              <input type="checkbox" name="hardwoods-HWHEN[]" value="Mohawk Henley Hickory Charcoal" />Mohawk Henley Hickory Charcoal<br />
              <input type="checkbox" name="hardwoods-HWHEN[]" value="Mohawk Henley Hickory Chocolate" />Mohawk Henley Hickory Chocolate<br />
              <input type="checkbox" name="hardwoods-HWHEN[]" value="Mohawk Henley Hickory Mocha" />Mohawk Henley Hickory Mocha<br />
              <input type="checkbox" name="hardwoods-HWHEN[]" value="Mohawk Henley Hickory Shadow" />Mohawk Henley Hickory Shadow<br />
              <input type="checkbox" name="hardwoods-HWHEN[]" value="Mohawk Henley Hickory Teak" />Mohawk Henley Hickory Teak<br />
            </div>
            <div id="clear"></div>
            <div id="subsection_title">
              Rooms:
            </div>
            <div id="section_options">
              <textarea></textarea>
            </div>
            <div id="clear"></div>
            <div id="subsection_title">
              Quantity (SqFt)
            </div>
            <div id="section_options">
              <input type="textbox" size="30" name="hardwoods-HWHEN-Qty" />
            </div>
          </div>
          <div id="hardwoods-HWNOT" style="display: none;">
            <div id="subsection_title">
              Style/Color
            </div>
            <div id="section_options">
              <input type="checkbox" name="hardwoods-HWNOT[]" value="Shaw Nottoway Burnt Barnboard" />Shaw Nottoway Burnt Barnboard<br />
              <input type="checkbox" name="hardwoods-HWNOT[]" value="Shaw Nottoway Old English" />Shaw Nottoway Old English<br />
              <input type="checkbox" name="hardwoods-HWNOT[]" value="Shaw Nottoway Praire Dust" />Shaw Nottoway Praire Dust<br />
              <input type="checkbox" name="hardwoods-HWNOT[]" value="Shaw Nottoway Stonehenge" />Shaw Nottoway Stonehenge<br />
              <input type="checkbox" name="hardwoods-HWNOT[]" value="Shaw Nottoway Warm Sunset" />Shaw Nottoway Warm Sunset<br />
              <input type="checkbox" name="hardwoods-HWNOT[]" value="Shaw Nottoway Weathered Saddle" />Shaw Nottoway Weathered Saddle<br />
            </div>
            <div id="clear"></div>
            <div id="subsection_title">
              Rooms:
            </div>
            <div id="section_options">
              <textarea></textarea>
            </div>
            <div id="clear"></div>
            <div id="subsection_title">
              Quantity (SqFt)
            </div>
            <div id="section_options">
              <input type="textbox" size="30" name="hardwoods-HWNOT-Qty" />
            </div>
          </div>
          <div id="hardwoods-HWHENILOCPT" style="display: none;">
            <div id="subsection_title">
              Style/Color
            </div>
            <div id="section_options">
              <input type="checkbox" name="hardwoods-HWHENILOCPT[]" value="Mohawk Henley Hickory Amber" />Mohawk Henley Hickory Amber<br />
              <input type="checkbox" name="hardwoods-HWHENILOCPT[]" value="Mohawk Henley Hickory Charcoal" />Mohawk Henley Hickory Charcoal<br />
              <input type="checkbox" name="hardwoods-HWHENILOCPT[]" value="Mohawk Henley Hickory Chocolate" />Mohawk Henley Hickory Chocolate<br />
              <input type="checkbox" name="hardwoods-HWHENILOCPT[]" value="Mohawk Henley Hickory Mocha" />Mohawk Henley Hickory Mocha<br />
              <input type="checkbox" name="hardwoods-HWHENILOCPT[]" value="Mohawk Henley Hickory Shadow" />Mohawk Henley Hickory Shadow<br />
              <input type="checkbox" name="hardwoods-HWHENILOCPT[]" value="Mohawk Henley Hickory Teak" />Mohawk Henley Hickory Teak<br />
            </div>
            <div id="clear"></div>
            <div id="subsection_title">
              Rooms:
            </div>
            <div id="section_options">
              <textarea></textarea>
            </div>
            <div id="clear"></div>
            <div id="subsection_title">
              Quantity (SqFt)
            </div>
            <div id="section_options">
              <input type="textbox" size="30" name="hardwoods-HWHENILOCPT-Qty" />
            </div>
          </div>
          <div id="hardwoods-HWNOTILOCPT" style="display: none;">
            <div id="subsection_title">
              Style/Color
            </div>
            <div id="section_options">
              <input type="checkbox" name="hardwoods-HWNOTILOCPT[]" value="Shaw Nottoway Burnt Barnboard" />Shaw Nottoway Burnt Barnboard<br />
              <input type="checkbox" name="hardwoods-HWNOTILOCPT[]" value="Shaw Nottoway Old English" />Shaw Nottoway Old English<br />
              <input type="checkbox" name="hardwoods-HWNOTILOCPT[]" value="Shaw Nottoway Praire Dust" />Shaw Nottoway Praire Dust<br />
              <input type="checkbox" name="hardwoods-HWNOTILOCPT[]" value="Shaw Nottoway Stonehenge" />Shaw Nottoway Stonehenge<br />
              <input type="checkbox" name="hardwoods-HWNOTILOCPT[]" value="Shaw Nottoway Warm Sunset" />Shaw Nottoway Warm Sunset<br />
              <input type="checkbox" name="hardwoods-HWNOTILOCPT[]" value="Shaw Nottoway Weathered Saddle" />Shaw Nottoway Weathered Saddle<br />
            </div>
            <div id="clear"></div>
            <div id="subsection_title">
              Rooms:
            </div>
            <div id="section_options">
              <textarea></textarea>
            </div>
            <div id="clear"></div>
            <div id="subsection_title">
              Quantity (SqFt)
            </div>
            <div id="section_options">
              <input type="textbox" size="30" name="hardwoods-HWNOTILOCPT-Qty" />
            </div>
          </div>

          <div id="clear"></div>

        </div>


        <h1>Interior Trim and Details</h1>
        <div></div>

        <h1>Paint Options</h1>
        <div>
          <img src="images/paint_plan.jpg" width="400" />
        </div>

        <h1>Lighting Options</h1>
        <div></div>
        <h1>Electrical and Wiring Options</h1>
        <div id="panel">
          <div id="section_title">
            Outlet & Switch Plate throughout Home
          </div>
          <div id="section_options">
            <select name="outlet_plates">
              <option value="">Select Option</option>
              <option value="PLATEALL-Black">Black - Each - $0.00</option>
              <option value="PLATEALL-Brown">Brown - Each - $0.00</option>
              <option value="PLATEALL-Light_Almond">Light Almond - Each - $0.00</option>
              <option value="PLATEALL-White">White - Each - $0.00</option>
            </select>
            <input type="hidden" name="outlet_plates_uom" value="Each" />
            <input type="hidden" name="outlet_plates_description" value="Outlet & Switch Plate throughout Home" />
          </div>

          <div id="clear"></div>

          <div id="section_title">
            Outlet Plate on the Kitchen Island
          </div>
          <div id="section_options">
            <select name="island_plates">
              <option value="">Select Option</option>
              <option value="PLATEISLAND-Black">Black - Each - $0.00</option>
              <option value="PLATEISLAND-Brown">Brown - Each - $0.00</option>
              <option value="PLATEISLAND-Light_Almond">Light Almond - Each - $0.00</option>
              <option value="PLATEISLAND-White">White - Each - $0.00</option>
            </select>
            <input type="hidden" name="island_plates_uom" value="Each" />
            <input type="hidden" name="island_plates_description" value="Outlet Plate on the Kitchen Island" />
          </div>

          <div id="clear"></div>

          <div id="section_title">
            Outlet Plates on the Backsplash
          </div>
          <div id="section_options">
            <select name="backsplash_plates">
              <option value="">Select Option</option>
              <option value="PLATESPLASH-Black">Black - Each - $0.00</option>
              <option value="PLATESPLASH-Brown">Brown - Each - $0.00</option>
              <option value="PLATESPLASH-Light_Almond">Light Almond - Each - $0.00</option>
              <option value="PLATESPLASH-White">White - Each - $0.00</option>
            </select>
            <input type="hidden" name="backsplash_plates_uom" value="Each" />
            <input type="hidden" name="backsplash_plates_description" value="Outlet Plates on the Backsplash" />

          </div>
        </div>

        <h1>Miscellaneous Options</h1>
        <div id="panel">
          <div id="section_title">
            2.5" Plantation-Style Blinds
          </div>
          <div id="section_options">
            <select id="dropdown" name="blinds25" onchange="CheckContact(this.value,'blinds25_rooms');">
              <option value="">Select Option</option>
              <option value="2BLINDS-Painted_Off_White">Painted Off White - Each - $95.00</option>
              <option value="2BLINDS-Painted_White">Painted White - Each - $95.00</option>
            </select>
            <select id="qty" name="blinds25_qty">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <input type="hidden" name="blinds25_price" value="95.00">
            <input type="hidden" name="blinds25_description" value="2.5in. Plantation-Style Blinds">
            <input type="hidden" name="blinds25_uom" value="Each">
            <div id="blinds25_rooms" style="display: none;">Room(s): <input type="text" name="blinds25_rooms" /></div>
          </div>


          <div id="section_title">
            3.5" Plantation Shutters
          </div>
          <div id="section_options">
            <select id="dropdown" name="shutters" onchange="CheckContact(this.value,'shutters_rooms');">
              <option value="">Select Option</option>
              <option value="SHUTTERS-Stained_Black_Walnut">Stained Black Walnut - Each - $350.00</option>
              <option value="SHUTTERS-Stained_Cherry">Stained Cherry - Each - $350.00</option>
              <option value="SHUTTERS-Stained_Old_Teak">Stained Old Teak - Each - $350.00</option>
            </select>
            <select id="qty" name="shutters_qty">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <input type="hidden" name="shutters_price" value="350.00">
            <input type="hidden" name="shutters_description" value="3.5in. Plantation Shutters">
            <input type="hidden" name="shutters_uom" value="Each">
            <div id="shutters_rooms" style="display: none;">Room(s): <input type="text" name="shutters_rooms" /><br /></div>
          </div>
        </div>
        <div id="clear"></div>


      </div>

      <hr />
      <div id="input_area">

        <p>Enter yours and the homebuyer's email addresses to send a copy of the selections chosen today.</p>

        <div id="label">Homebuyer Email:</div>
        <div id="text_input">
          <input type="text" size="30" name="homebuyer_email">
        </div>

        <div id="clear"></div>

        <div id="label">Designer Email:</div>
        <div id="text_input">
          <input type="text" size="30" name="designer_email" value="lharris@e-signaturehomes.com">
        </div>

        <div id="clear"></div>

        <div id="submit_button">
          <input type="submit" value="Send">
        </div>
      </div>
    </form>

    <!-- End Selection Guide -->

    <div id="footer">
      &copy; 2015 - NSH Corp dba Signature Homes. All Rights Reserved.
    </div>

  </div> <!-- wrapper -->

</body>
</html>
