<!doctype html>
<html>
  <head>
    <title>Signature Homes - Magnolia Grove Selection</title>
	<link rel="stylesheet" type="text/css" href="css/foundation.css">
	<link rel="stylesheet" type="text/css" href="css/selection_guide.css">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
	<script src="js/selection_guide.js"></script>
	<script>
      $(function() {
        $( "#accordion" ).accordion();
      });
    </script>
  </head>
  <body>
  
  <div class="wrapper">
  
    <div="header">
	  <div id="logo">
        <img src="images/signature_logo_whiteBG.jpg" /> 
	  </div>
	  <div id="internal_title">
	    Magnolia Grove Design Selections
	  </div>
    </div>
  
    <div id="thankyou">
	  <img src="images\thankyou.jpg" alt="Thank you!" />
	  Thank you for completing the specifications worksheet. A summary is being emailed to you. 
	</div>  
	
  
    <div id="footer">
      &copy; 2015 - NSH Corp dba Signature Homes. All Rights Reserved.
    </div>
  
  </div> <!-- wrapper -->
  
  </body>
</html>